<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}{% endblock %}
  <link rel="stylesheet" href="/dist/styles/webawesome.css" />
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  {% include "partials/site-header.njk" %}

  {% block body %}{% endblock %}

  {% include "partials/site-footer.njk" %}

  <script type="module" src="/assets/js/main.js"></script>
</body>
</html>
