{% extends "layouts/_shell.njk" %}

{% block head %}
  <title>{{ title }} — {{ site.title }}</title>
  <meta name="description" content="{{ description or site.description }}">
{% endblock %}

{% block body %}
  <main class="content">
    {{ content | safe }}
  </main>
{% endblock %}
